<div class="pm-modal-sm" id="popup-delete-confirm">
    <div style="padding:28px 28px 0;">
        <p class="del-title">Bạn có muốn xóa?</p>
        <p class="del-text">Hành động này sẽ xóa phiếu mượn khỏi hệ thống. Bạn không thể hoàn tác sau khi xác
            nhận.</p>
    </div>
    <div class="pm-footer-sm pm-footer-del" style="margin-top:24px; padding-top:0; border-top:none;">
        <button class="btn-cancel" onclick="closePm()">Hủy</button>
        <button class="btn-danger" onclick="confirmDelete()">Đồng ý</button>
    </div>
</div>
